@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.tabs {
  display: flex;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  overflow: hidden;
  margin-bottom: 20px;

  @include responsive-to($res-xs) {
    flex-direction: column;
    width: 100%;
  }

  &__tab_cheap,
  &__tab_fast,
  &__tab_optimal {
    width: calc(100% / 3);
    background: $white;
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    display: flex;
    height: 50px;
    border: 1px solid $border-color;

    @include responsive-to($res-xs) {
      width: 100%;
    }

    &:hover {
      background-color: $hover-color;
      cursor: pointer;
    }

    &.bordered {
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      @include responsive-to($res-xs) {
        border: none;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
      }
    }
  }
  &__tab_fast,
  &__tab_optimal {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  &__tab_optimal {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
  &__tab_fast {
    border-left: 0px solid $border-color;
    border-right: 0px solid $border-color;
  }

  &__tab_cheap:hover,
  &__tab_fast:hover,
  &__tab_optimal:hover {
    background: $blue;
    color: $hover-color;
    border-color: $blue-lighten;
  }

  &__tab_cheap_active,
  &__tab_fast_active,
  &__tab_optimal_active {
    background: $blue;
    color: $hover-color;
    border-color: $blue-lighten;
  }
}